.ngxfup-container {}

.ngxfup-dropzone {
  border: 2px dashed #ccc;
  text-align: center;
  padding: 50px;
}

.ngxfup-ready {}

;
.ngxfup-dragenter {
  background-color: #eee;
}

.ngxfup-dragover {
  background-color: #f5f5f5;
}

.ngxfup-drop {
  background-color: #ccc;
}
